/* ----------------------------
SCROLL BEHAVIOUR
---------------------------- */
html {
  scroll-behavior: smooth;
}

/* ----------------------------
THEME COLOURS
---------------------------- */
:root {
  --dark-color: #1c242e;
  --brand-color: #00a5e1;
  --brand-color-darker: #0085B5;
  --grey-color: #757A80;
  --light-grey-color: #edf0f0;
  --light-color: #ffffff;
}

/* ----------------------------
FONT ANTIALIASING & TYPOGRAPHY
---------------------------- */
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: var(--brand-color);
  text-decoration: none;
  background-color: transparent;
  transition: 0.3s;
}

a:hover, a:focus {
  color: var(--brand-color-darker);
  text-decoration: underline;
  transition: 0.3s;
}


.btn-link {
  color: var(--brand-color);
}

.btn-link:hover {
  color: var(--brand-color-darker);
}

/* ----------------------------
SITE STRUCTURE
---------------------------- */
body {
  background-color: var(--dark-color);
  color: var(--light-color);
  font-family: roc-grotesk, sans-serif;
  font-weight: 400;
  font-size: 18px;
  position: relative;
}

.outer-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  flex-grow:1;
}

.container {
  padding-left: 30px;
  padding-right: 30px;
}

.inner {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.section-content {
  width: 100%;
}

.section-title {
  width: 100%;
  margin-bottom: 10px;
}


.about-splash {
  min-height: calc(100vh);
  padding-top: 50px;
  display: flex;
  align-items: center;
}

.page-section{
  display: flex;
  align-items: flex-start;
}

/* ----------------------------
COMPONENT OVERRIDES
---------------------------- */
.btn-primary {
  color: #fff;
  background-color: var(--brand-color);
  border-color: var(--brand-color);
}

.btn-primary:hover {
  color: #fff;
  background-color: var(--brand-color-darker);
  border-color: var(--brand-color-darker);
}

/* ----------------------------
NAVIGATION & FOOTER LINKS
---------------------------- */
nav {
  background-color: var(--dark-color);
  min-height: 50px;
}
.navbar-collapse {
  flex-grow: 0;
}

.navbar {
  padding-top:5px;
  padding-bottom: 5px;
}

.navbar .container {
  justify-content: flex-start;
  display: flex;
}

/* Standard Nav Links */
.nav-item a, footer a {
  color: var(--grey-color);
}

/* Nav Links Hover and Focus */
.nav-item a:focus, .nav-item a:hover, footer a:focus, footer a:hover {
  color: var(--light-color);
}

/* Logo */
.navbar-brand {
  color: #fff;
  flex-grow: 1;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #fff;
  background-color: transparent
}

.nav-link {
  padding: 0.5rem 0.5rem;
}

/* ----------------------------
INTRO STYLES
---------------------------- */
.dark-section h4.intro {
  color: var(--light-color);
  margin-bottom: 1.3rem;
}

.dark-section h4.intro em {
  color: var(--brand-color);
  font-style: normal;
}

/* ----------------------------
DARK SECTION STYLES
---------------------------- */
.dark-section h3 {
  color: var(--grey-color);
}

.dark-section h4 {
  color: var(--brand-color);
}

.dark-section h5 {
  color: var(--light-color);
}

.dark-section p {
  color: var(--grey-color);
}

.dark-section .item {
  border-color: rgba(255, 255, 255, 0.1);
}

.dark-section p a.btn {
  margin-right: 8px;
}

/* ----------------------------
LIGHT SECTION STYLES
---------------------------- */
.light-section {
  background-color: var(--light-color);
}
.light-section h3 {
  color: var(--brand-color);
}

.light-section h4 {
  color: var(--dark-color);
}

.light-section p {
  color: var(--grey-color);
}

.light-section .item {
  border-color: rgba(0, 0, 0, 0.1);
}

/* ----------------------------
MID SECTION STYLES
---------------------------- */
.mid-section {
  background-color: var(--light-grey-color);
  color: var(--grey-color)
}

.mid-section h3, .mid-section h4, .mid-section h5 {
  color: var(--grey-color);
}

.mid-section h4 {
  /* margin-bottom: 1.3rem; */
  color: var(--brand-color);
}

.mid-section h5 {
  color: var(--grey-color);
  /* margin-top: 1rem; */
}

/* ----------------------------
TABLE STYLES
---------------------------- */
.item {
  display:flex;
  border-top: 1px;
  border-bottom: 0px;
  border-left: 0px;
  border-right: 0px;
  border-style: solid;
  padding-top: 1em;
}


.table-main {
  width: 75%;
}

/* .table-main p {

} */

.table-side {
  width: 25%;
  text-align: right;
}

/* ----------------------------
FOOTER
---------------------------- */
footer {
  min-height: 60px;
  display: flex;
  align-items: center;
}

footer p {
  margin-bottom: 0px;
}

footer ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

/* ----------------------------
ANIMATIONS
---------------------------- */

/* Slide Top */

.slide-up-fade-in {
  animation: slide-up-fade-in ease 1s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
  animation-fill-mode:forwards; /*when the spec is finished*/
  -webkit-animation: slide-up-fade-in ease 1s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/ 
  -moz-animation: slide-up-fade-in ease 1s;
  -moz-animation-iteration-count: 1;
  -moz-transform-origin: 50% 50%;
  -moz-animation-fill-mode:forwards; /*FF 5+*/
  -o-animation: slide-up-fade-in ease 1s;
  -o-animation-iteration-count: 1;
  -o-transform-origin: 50% 50%;
  -o-animation-fill-mode:forwards; /*Not implemented yet*/
  -ms-animation: slide-up-fade-in ease 1s;
  -ms-animation-iteration-count: 1;
  -ms-transform-origin: 50% 50%;
  -ms-animation-fill-mode:forwards; /*IE 10+*/

  opacity:0;
  opacity: 1\9;

}

@keyframes slide-up-fade-in {
  0% {
      opacity:0;
      transform:  translate(0px,40px)  ;
  }
  100% {
      opacity:1;
      transform:  translate(0px,0px)  ;
  }
}

@-moz-keyframes slide-up-fade-in {
  0% {
      opacity:0;
      -moz-transform:  translate(0px,40px)  ;
  }
  100% {
      opacity:1;
      -moz-transform:  translate(0px,0px)  ;
  }
}

@-webkit-keyframes slide-up-fade-in {
  0% {
      opacity:0;
      -webkit-transform:  translate(0px,40px)  ;
  }
  100% {
      opacity:1;
      -webkit-transform:  translate(0px,0px)  ;
  }
}

@-o-keyframes slide-up-fade-in {
  0% {
      opacity:0;
      -o-transform:  translate(0px,40px)  ;
  }
  100% {
      opacity:1;
      -o-transform:  translate(0px,0px)  ;
  }
}

@-ms-keyframes slide-up-fade-in {
  0% {
      opacity:0;
      -ms-transform:  translate(0px,40px)  ;
  }
  100% {
      opacity:1;
      -ms-transform:  translate(0px,0px)  ;
  }
} 

/* Slide in from top */
.slide-in-top {
	-webkit-animation: slide-in-top 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-top 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-80px);
            transform: translateY(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

/* Fade in */
.fade-in {
	-webkit-animation: fade-in 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


/* ----------------------------
MEDIA QUERIES
---------------------------- */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

  .nav {
    margin-left: -0.4em;
  }

  .navbar .container {
    align-items: flex-start;
  }

  .my-work-splash, .my-skills-splash, .my-cv-splash {
    padding: 90px 0px;
  }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

  .page-section {
    padding: 100px 0px;
  }

  .container {
    padding-left: 0px;
    padding-right: 0px;
  }

}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

  .nav-link {
    padding: 0.5rem 1rem;
  }

  .inner {
    flex-direction: row;
  }

  .section-content {
    width: 75%;
    padding: 0px;
  }
  
  .section-title {
    width: 25%;
    padding: 0px;
  }

  
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  
}
